menu "ESPNOW RX Configuration"
      
config ESPNOW_CHANNEL
    int "Channel"
    default 1
    range 1 13
    help
        The channel on which sending and receiving ESPNOW data.

choice ESPNOW_OUTPUT_FORMAT
    prompt "Output format"
    default READABLE
    help
        Output format pretty or ugly.
    
config ESPNOW_OUTPUT_READABLE
    bool "Readable"
config ESPNOW_OUTPUT_SCRIPTABLE
    bool "Scriptable"
endchoice

config ESPNOW_QUEUE_SIZE
    int "Size"
    default 10
    range 1 50
    help
        Max size of incoming queue.

endmenu
